<div class="container mt-4">
  <h1>Nom de l'utilisateur: <%= @user.name %></h1>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Age: <%= @user.age %></h6>
      <% if @user.description.present? %>
        <p class="card-text"><strong>Description:</strong> <%= @user.description %></p>
      <% end %>
      <p class="card-text"><strong>Email:</strong> <%= @user.email %></p>
      <% if @user.city.present? %>
        <p class="card-text"><strong>Ville:</strong> <%= @user.city.name %></p>
      <% else %>
        <p class="card-text"><strong>Ville:</strong> Non spécifiée</p>
      <% end %>
    </div>
  </div>
</div>
