<%= form_with(model: @gossip, local: true) do |form| %>
  <% if @gossip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gossip.errors.count, "error") %> prevented this gossip from being saved:</h2>
      <ul>
      <% @gossip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, "Gossip Title:" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :content, "Gossip Content:" %>
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <!-- Ajoutez le formulaire de commentaire ici -->
  <%= form.fields_for :comments do |comment_form| %>
    <div class="form-group">
      <%= comment_form.text_area :content, placeholder: "Votre commentaire ici...", class: "form-control" %>
    </div>
  <% end %>
  <!-- Fin du formulaire de commentaire -->

  <%= form.submit "Post Gossip", class: "btn btn-primary" %>
<% end %>
