<div class="container mt-4">
  <h1>Détails de la ville</h1>
  <p>Ville de l'auteur: <%= gossip.user.city.name if gossip.user&.city %></p>

  
  <h2>Potins de cette ville :</h2>
  <div class="row">
    <% @gossips.each do |gossip| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= link_to gossip.title, gossip_path(gossip) %></h5>
            <p class="card-text"><%= gossip.description %></p>
            <p class="card-text">
              <small class="text-muted">
                Par <%= link_to (gossip.user&.full_name || "Anonyme"), (user_path(gossip.user) if gossip.user) %>, 
                le <%= gossip.created_at.strftime("%d/%m/%Y") %>
              </small>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>